<div
  class="w-64 bg-[#1c212c] h-[90vmin] flex flex-col justify-between pt-5 pb-2"
>
  <div class="px-3 text-gray-500 text-sm">
    <div
      class="flex items-center space-x-4 p-3 bg-white/10 rounded-xl mb-6 shadow-inner backdrop-blur-md"
    >
      <img
        [src]="
          loggedInUserDetails?.profilePicture
            ? 'http://localhost:1517/' + loggedInUserDetails.profilePicture
            : profilAvtar
        "
        alt="Profile Picture"
        class="w-12 h-12 rounded-full border-2 border-white/30 shadow"
      />
      <div>
        <h3 class="text-lg font-semibold text-white">
          {{ loggedInUserDetails?.userName }}
        </h3>
        <p
          class="text-sm text-gray-300 truncate w-full max-w-24"
          [title]="loggedInUserDetails?.email"
        >
          {{ loggedInUserDetails?.email }}
        </p>
      </div>
    </div>

    <ng-container *ngFor="let link of navLinks">
      <ng-container *ngIf="link.roles.includes(loggedInInfo)">
        <div class="w-full flex items-center gap-x-1.5 group select-none mb-2">
          <div class="w-1.5 h-10 relative overflow-hidden">
            <div
              class="absolute top-0 left-0 w-full h-[102%] transition-all duration-300 bg-red-600"
              [ngClass]="
                currentUrl === link.path
                  ? 'translate-y-0 rounded-tr-lg rounded-br-lg'
                  : 'translate-y-full group-hover:translate-y-0 '
              "
              style="pointer-events: none"
            ></div>
          </div>

          <a
            (click)="activeRoute(link.path)"
            [routerLink]="link.path"
            routerLinkActive="active-link"
            [class.active]="isTaskPageActive"
            [routerLinkActiveOptions]="{ exact: true }"
            [ngClass]="{
              'text-white font-medium': currentUrl === link.path,
              'text-gray-400': currentUrl !== link.path
            }"
            class="group-hover:bg-white/10 w-full pl-2 py-2.5 rounded flex items-center space-x-2 transition-all duration-200"
          >
            <span class="font-QuicksandMedium text-base tracking-wide">
              {{ link.label }}
            </span>
          </a>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <div class="px-3 mt-4">
    <button
      (click)="logout()"
      class="w-full flex items-center justify-center gap-2 px-4 py-3 rounded-xl bg-[#2a2f3b] hover:bg-red-600 transition-all duration-300 shadow-lg text-white font-semibold tracking-wide text-sm"
    >
      <span class="text-lg"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M16 17l5-5-5-5" />
          <path d="M21 12H9" />
          <path d="M9 21H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5" /></svg
      ></span>
      Logout
    </button>
  </div>
</div>
