<div
  class="max-w-full h-full mx-auto p-6 bg-gray-800 rounded-lg shadow-md text-white"
>
  <!-- <div class="mb-4">
    <button
      (click)="goBack()"
      class="flex items-center text-white bg-gray-700 hover:bg-gray-600 p-2 rounded cursor-pointer"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-5 h-5 mr-2"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"
        ></path>
      </svg>
      Back
    </button>
  </div> -->

  <h2 class="text-2xl font-bold mb-4">{{ task?.task }}</h2>

  <p class="mb-4 text-gray-300">
    <span class="font-semibold">Description:</span>
    {{ task?.description || "No description available" }}
  </p>

  <div class="flex justify-between mb-4">
    <div>
      <span class="font-semibold">Status:</span>
      <span
        [ngClass]="{
          'text-green-400': task?.status === 'Completed',
          'text-yellow-400': task?.status === 'Pending',
          'text-blue-400': task?.status === 'In Progress'
        }"
      >
        {{ task?.status || "Unknown" }}
      </span>
    </div>

    <div>
      <span class="font-semibold">Priority:</span>
      <span
        [ngClass]="{
          'text-red-400': task?.priority === 'high',
          'text-yellow-400': task?.priority === 'medium',
          'text-green-400': task?.priority === 'low'
        }"
      >
        {{ task?.priority || "None" }}
      </span>
    </div>
  </div>

  <div class="mb-4">
    <span class="font-semibold">Due Date:</span>
    <span class="text-gray-400">{{ task?.dueDate | date : "longDate" }}</span>
  </div>

  <div class="flex justify-between items-center">
    <span class="font-semibold">Created At:</span>
    <span class="text-gray-400">{{ task?.createdAt | date : "longDate" }}</span>
  </div>

  <div class="mt-6 flex justify-end space-x-4">
    <button
      class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 cursor-pointer"
    >
      Edit
    </button>
    <button
      class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 cursor-pointer"
    >
      Delete
    </button>
  </div>
</div>
