<div class="h-screen flex flex-col">
  <app-header (isBtnClick)="toggleSidebar($event)"></app-header>
  <div class="flex flex-1 overflow-hidden relative">
    <div
      id="isSidebar"
      class="fixed lg:relative inset-y-0 left-0 w-64 bg-gray-900 text-white z-30 lg:z-0 transition-all duration-700 ease-in-out lg:translate-x-0 lg:opacity-100"
      [ngClass]="{
        'translate-x-0 opacity-100': sidebarVisible,
        '-translate-x-full opacity-0': !sidebarVisible
      }"
    >
      <app-sidebar #openHide></app-sidebar>
    </div>

    <div class="flex-1 overflow-y-auto p-2 sm:p-4 z-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
